In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study dataset
nse_india_path = "dataset/NSE_India.csv"

# Read dataset
nse_metadata = pd.read_csv(nse_india_path)

# Display the data table for preview
nse_metadata.head()

,Symbol,Open,High,Low,LTP,Chng,% Chng,Volume (lacs),Turnover (crs.),52w H,52w L,365 d % chng,30 d % chng
0,ADANIPORTS,750,766,713.25,715,-47.45,-6.22,72.20,532.63,901,384.4,79.22,-4.65
1,ASIANPAINT,"3,101.00","3,167.35","3,091.00","3,138.00",-6.25,-0.20,10.29,322.53,"3,505.00","2,117.15",45.66,5.66
2,AXISBANK,669,674.9,660.45,661,-18.90,-2.78,102.53,684,866.9,568.4,10.19,-21.49
3,BAJAJ-AUTO,"3,370.00","3,383.50","3,320.00","3,335.00",-56.70,-1.67,3.42,114.59,"4,361.40","3,041.00",9.30,-12.05
4,BAJAJFINSV,"17,200.00","17,237.20","16,610.00","16,684.00",-684.85,-3.94,3.42,576.79,"19,325.00","8,273.70",91.38,-9.10

In [2]:
# Remove commas in all columns of the dataset & check to see if it works. 
columns = ['Open', 'High', 'Low', 'LTP', 'Chng', '% Chng', 'Volume (lacs)', 'Turnover (crs.)', '52w H', '52w L']
nse_metadata[columns] = nse_metadata[columns].replace({',': ''}, regex=True).astype(float) 
nse_metadata.head()

,Symbol,Open,High,Low,LTP,Chng,% Chng,Volume (lacs),Turnover (crs.),52w H,52w L,365 d % chng,30 d % chng
0,ADANIPORTS,750.0,766.00,713.25,715.0,-47.45,-6.22,72.20,532.63,901.0,384.40,79.22,-4.65
1,ASIANPAINT,3101.0,3167.35,3091.00,3138.0,-6.25,-0.20,10.29,322.53,3505.0,2117.15,45.66,5.66
2,AXISBANK,669.0,674.90,660.45,661.0,-18.90,-2.78,102.53,684.00,866.9,568.40,10.19,-21.49
3,BAJAJ-AUTO,3370.0,3383.50,3320.00,3335.0,-56.70,-1.67,3.42,114.59,4361.4,3041.00,9.30,-12.05
4,BAJAJFINSV,17200.0,17237.20,16610.00,16684.0,-684.85,-3.94,3.42,576.79,19325.0,8273.70,91.38,-9.10

In [3]:
df = pd.DataFrame(nse_metadata)
df.head()

,Symbol,Open,High,Low,LTP,Chng,% Chng,Volume (lacs),Turnover (crs.),52w H,52w L,365 d % chng,30 d % chng
0,ADANIPORTS,750.0,766.00,713.25,715.0,-47.45,-6.22,72.20,532.63,901.0,384.40,79.22,-4.65
1,ASIANPAINT,3101.0,3167.35,3091.00,3138.0,-6.25,-0.20,10.29,322.53,3505.0,2117.15,45.66,5.66
2,AXISBANK,669.0,674.90,660.45,661.0,-18.90,-2.78,102.53,684.00,866.9,568.40,10.19,-21.49
3,BAJAJ-AUTO,3370.0,3383.50,3320.00,3335.0,-56.70,-1.67,3.42,114.59,4361.4,3041.00,9.30,-12.05
4,BAJAJFINSV,17200.0,17237.20,16610.00,16684.0,-684.85,-3.94,3.42,576.79,19325.0,8273.70,91.38,-9.10

In [8]:
opendf = df.get(['Symbol', 'Open'])
opendf

        Symbol      Open
0   ADANIPORTS    750.00
1   ASIANPAINT   3101.00
2     AXISBANK    669.00
3   BAJAJ-AUTO   3370.00
4   BAJAJFINSV  17200.00
5   BAJFINANCE   7021.00
6   BHARTIARTL    763.00
7         BPCL    397.15
8    BRITANNIA   3560.00
9        CIPLA    892.00
10   COALINDIA    157.75
11    DIVISLAB   4770.00
12     DRREDDY   4580.00
13   EICHERMOT   2495.00
14      GRASIM   1757.30
15     HCLTECH   1120.00
16        HDFC   2820.35
17    HDFCBANK   1500.00
18    HDFCLIFE    685.00
19  HEROMOTOCO   2580.00
20    HINDALCO    441.80
21  HINDUNILVR   2344.00
22   ICICIBANK    739.00
23  INDUSINDBK    951.00
24        INFY   1702.55
25         IOC    125.60
26         ITC    228.90
27    JSWSTEEL    668.25
28   KOTAKBANK   2002.00
29          LT   1820.00
30         M&M    885.00
31      MARUTI   7520.00
32   NESTLEIND  19148.85
33        NTPC    133.20
34        ONGC    152.25
35   POWERGRID    204.05
36    RELIANCE   2467.80
37     SBILIFE   1154.00
38        SBIN    486.25
39    SHREECEM  26450.00
40   SUNPHARMA    775.00
41  TATACONSUM    800.20
42  TATAMOTORS    486.00
43   TATASTEEL   1157.90
44         TCS   3425.00
45       TECHM   1544.00
46       TITAN   2377.80
47  ULTRACEMCO   7550.00
48         UPL    726.00
49       WIPRO    632.00

## Summary Statistics for Opening Prices

In [ ]:
# Calculate the mean and median for opening price. 
mean_numpy = np.mean(opening_price)
print(f"The mean opening price of the Nifty 50 is {mean_numpy}")

median_numpy = np.median(opening_price)
print(f"The median opening price of the Nifty 50 is {median_numpy}")